/* Global: General Styling */
* {
    font-family: "Avenir" !important;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    color: #2c2c2c;
}

html, body {
    min-height: 100%;
    height: 100%;
}

body {
    margin: 0;
    overflow: auto;
}

hr {
    position: relative;
    border: 1px solid #D5D5D5;
}

button {
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    height: 40px;
    border: none;
    box-shadow: none !important;
}

button:hover {
    cursor: pointer;
}

.subheader {
    font-weight: bold;
}

.flex-buffer {
    display: flex;
    flex-grow: 1;
}

/* Global: Top Navbar */
#nav-parent {
    position: relative;
    overflow: hidden;
}

.site-icon {
    height: 32px;
    width: auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#navbar-image {
    position: absolute;
    width: 104%;
    left: -2%;
    top: -4px;
    height: 88px;
    overflow: hidden;
    z-index: -1;

    background-image: url("../files/images/screenshots/skywind-shipwreck-dark.jpg");
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.nav {
    display: inline-flex;
    flex-wrap: nowrap;
    height: 80px;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0px;
    z-index: 1;

    overflow: hidden !important;
}

.nav div {
    position: relative;
    color: white;
    margin-right: 24px;
    font-size: 16px;
    height: 100%;
    line-height: 80px;
}

.nav div a {
    color: white;
    text-decoration: none;
    height: 100%;
    display: block;
}

.nav div a img {
    height: 24px;
    width: auto;
    vertical-align: middle;
}

.nav div:first-child {
    left: 16px;
    flex-grow: 1;
}

.nav div:first-child span {
    color: white;
    margin-left: 40px;
}

.nav div:first-child span b {
    color: white;
}

.item-left {
    align-self: center;
    justify-content: flex-start;
}

.item-right {
    align-self: center;
    justify-content: flex-end;
}

#navbar-collapse {
    display: none;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
}

#navbar-collapse .project-tab-hamburger {
    margin: 0;
}

#navbar-collapse .project-tab-close {
    margin: 0;
}

#navbar-collapse a img {
    width: 24px;
}

.icons-collapse {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.icons-collapse img {
    width: 24px;
    vertical-align: middle;
}

/* Home Page: Name & Title Header */
#name {
    padding-top: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name h1 {
    margin: 0;
}

#name h4 {
    margin-top: 8px;
    margin-bottom: 16px;
}

/* Home Page: Projects */
.homepage-hr {
    width: 60%;
}

#projects {
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-header {
    margin-bottom: 16px;
    text-transform: uppercase;
    text-align: center;
}

.section-subheader {
    margin-top: 0px;
    text-align: center;
}

.project-card a {
    width: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.project-card img {
    width: 100%;
    height: auto;
}

.project-card div {
    position: absolute;
}

.project-card h3 {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    color: white;
    text-align: center;
}

.project-card h3:first-child {
    flex-grow: 1;
    align-self: flex-end;
}

.project-card h3:last-child {
    flex-grow: 1;
    align-self: flex-start;
}

#skywind {
    position: relative;
    width: 60%;
    height: auto;
    display: flex;
}

#skywind-card-text {
    opacity: 0;
    width: 100%;
}

#skywind-card-text h3 {
    padding-bottom: 8px;
}

/* Home Page: Highlights */
#home-samples {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    padding-left: 20%;
}

#home-samples img {
    height: 100%;
    object-fit: cover !important;
}

/* Home Page: About Me */
#about {
    width: 60%;
    /* padding-top: 16px; */
    padding-left: 20%;
    padding-right: 20%;

    display: flex;
    flex-direction: column;
}

#about-header h2 {
    text-align: center;
}

#about-picture {
    flex-grow: 1;
    max-width: 40%;
    align-self: center;
}

#about-picture img {
    width: 100%;
    border-radius: 50%;
}

#about-text {
    flex-grow: 3;
}

/* Skywind Project Page */
.responsive {
    padding-top: 0 !important;
    flex-direction: column !important;
}

.responsive h2 {
    display: none;
    width: 100%;
}

.responsive hr {
    display: none;
    width: 100%;
}

.project-header {
    padding-top: 40px;
    position: relative;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
}

.project-header-image {
    width: 60%;
    display: flex;
    flex-grow: 2;
    flex-basis: auto;
    align-self: flex-start;
    flex-direction: column;
    gap: 8px;
}

.project-header-image img {
    width: 100%;
    height: auto;
    align-self: flex-start;
}

.project-header-image button {
    width: 100%;
}

.project-header-image button img {
    width: 12px !important;
    height: auto;
    padding-right: 8px;
    padding-left: 0;
}

.project-header-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    padding-left: 40px;
}

.project-header-text h2 {
    margin-top: 0;
    margin-bottom: 0;
    height: fit-content;
}

.project-header-text hr {
    width: 100%;
}

.project-header-text .subheader {
    margin-top: 16px;
}

.project-header-text p {
    margin-top: 0;
    margin-bottom: 0;
    word-wrap: normal;
}

.project-header-text p {
    word-wrap: normal;
}

.project-social-links {
    display: inline-flex;
    padding-top: 16px;
}

.project-social-links div {
    width: fit-content;
    height: auto;
    padding-right: 16px;
}

.project-social-links img {
    width: 24px;
    height: 24px;
    align-self: center;
}

/* Project Tabs */
.project-tabs {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 40px;
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tabs-border {
    width: 100%;
}

.project-tabs a {
    color: #565656;
    text-transform: uppercase;
    font-weight: lighter;
    text-decoration: none;
}

.tab-selected a {
    color: #FF7542 !important;
}

.project-tabs-collapse {
    display: none;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-tab-title {
    flex-grow: 1;
}

.project-tab-title h3 {
    text-transform: uppercase;
    font-weight: lighter;
}

.project-tab-hamburger {
    align-self: center;
}

.project-tab-close {
    display: none;
    align-self: center;
}

#hamburger-nav-main {
    position: relative;;
}

.hamburger-menu-main {
    display: none;
    flex-direction: column;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 8px;
    overflow: hidden;
}

.hamburger-menu-main a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: lighter;
    vertical-align: middle;
}

#hamburger-nav {
	position: relative;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.menu-option {
    align-self: flex-end;
    padding-bottom: 16px;
}

.hamburger-menu a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: lighter;
}

.page-content {
    display: none;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-selected {
    display: flex !important;
}

/* Page Content */
.content-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.content-group p {
    font-size: 14px;
}

.content-group img {
    width: 100%;
}

.content-image {
    flex-basis: 0;
    flex-grow: 5;
}

.content-text {
    flex-basis: 0;
    flex-grow: 5;
}

.content-text h3 {
    margin-top: 0px;
    margin-bottom: 8px;
}

.content-text p {
    font-size: 16px;
}

.content-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px;
}

.content-button-primary {
    color: white;
    background-color: #184655;
    border-color: #184655;
}

.content-button-secondary {
    color: #2C2C2C;
    background-color: #E0E0E0;
    border-color: #E0E0E0;
}

.content-button-secondary span {
    vertical-align: middle;
}

.content-button-secondary img {
    width: 12px;
    height: auto;
    vertical-align: middle;
}

.content-rule {
    display: block;
}

.content-rule hr {
    border: 1px solid #f2f2f2;
}

/* Tab: World Encounters */
#content-encounters {
    flex-direction: column;
    gap: 40px;
}

/* Tab: Item Descriptions */
#content-items {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item-set-square {
    position: relative;
    max-width: 200px;
    min-width: 200px;
    width: 200px !important;
    height: 200px;
    border: 2px solid white;
    flex-grow: 1 !important;
}

.item-set-square img {
    width: 100%;
}

.item-set-square p {
    width: 100%;
    font-size: 18px;
    position: absolute;
    bottom: 0px;
    margin: 0;
    padding-bottom: 2px;
    background: rgba(47,47,47,0.5);
}

.item-set-square span {
    display: block;
    font-size: 12px;
    padding-top: 3px;
    margin-left: 5% !important;
    width: 90%;
    text-align: center;
    border-top: 0.2px solid white;
}

.item-set-square p, .item-set-square span {
    color: white;
    font-family: 'Fondamento', cursive !important;
    text-align: center;
}

/* Tab: Quests */
#content-quests {
    flex-direction: column;
    gap: 40px;
}

.quest-content {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 40px;
}

.quest-content img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    object-position: 0 10%;
}

#credits-banner {
    object-position: 0 55%;
}

.quest-content h3 {
    text-transform: uppercase;
}

#azura-banner {
    object-position: 0 40%;
}

#exiles-banner {
    object-position: 0 70%;
}

.quest-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    padding-bottom: 12px;
}

.quest-title-buffer {
    margin-top: 40px;
}

/* Tab: Other */
#content-other {
    flex-direction: column;
    gap: 40px;
}

/* Subpage */
#landscaping-content img {
    object-position: 0 65%;
}

.subpage-header {
    padding-top: 24px;
    position: relative;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.subpage-header h2 {
    text-align: center;
}

.subpage-header hr {
    width: 100%;
}

.subpage-header-text {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.subpage-items-header-text div {
    flex-grow: 1;
    align-self: flex-end;
}

.subpage-header-title {
    flex-grow: 2;
}

.subpage-header-side {
    flex-grow: 1;
    align-self: flex-end;
    width: 20%;
    position: relative;
    margin-bottom: 20px;
}

.subpage-header-side a {
    text-decoration: none;
    text-transform: uppercase;
}

.subpage-header-side img {
    width: 12px;
    padding-right: 4px;
    vertical-align: middle;
    padding-bottom: 4px;
}

.subpage-header-hidden {
    display: none;
}

.subpage-header-buffer {
    flex-grow: 1;
    width: 20%;
}

.header-middle-buffer {
    flex-grow: 3;
}

.header-right {
    text-align: right;
}

.header-right img {
    padding-right: 0;
    padding-left: 4px;
}

/* Page: Item Description Set */
.items-content {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
  
.items-content div {
    flex-grow: 1;
    /* width: 20%; */
    text-align: center;
    position: relative;
    max-width: 400px;
    width: 400px !important;
    height: 400px;
    border: 2px solid white;
    flex-grow: 1 !important;
}

.items-content img {
    width: 100% !important;
    height: auto;
    max-height: 100%;
    object-fit: scale-down;
}

/* Modals */
.modal-image:hover {
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal - Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    margin-top: 40px;
    padding: 32px;
    max-height: 75vh;
    border: 1px solid #888;
    width: 50%;
}

.modal-header h2 {
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
}

.modal-body {
    max-height: 65vh;
    overflow-y: auto;
}

/* Modal - Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Credits Page */
.credit-section {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 16px;
}

.credit-group {
    flex-grow: 1;
    max-width: 200px;
    padding: 16px;
    background-color: #f2f2f2;
}

.credit-group h4 {
    margin-top: 0;
}

/* Media Query Breakpoints */
@media screen and (max-width: 1080px) {
    .project-header {
        padding-top: 24px !important;
    }
    .responsive h2 {
        display: block;
        text-align: center;
    }
    .responsive hr {
        display: block;
    }
    .project-header-text h2 {
        display: none;
    }
    .project-header-text hr {
        display: none;
    }
    .content-group {
        flex-direction: column;
    }
    .content-group img {
        width: 60%;
        padding-left: 20%;
        padding-right: 20%;
        align-self: center;
    }
}

@media screen and (max-width: 900px) {
    #navbar {
        display: none;
    }
    #navbar-collapse {
        display: flex;
    }
}

/* TODO - fix sizing below 500px width */
@media screen and (max-width: 900px) {
    .project-header {
        flex-direction: column !important;
        flex-wrap: wrap !important;
    }
    .responsive {
        padding-top: 40px;
    }
    .responsive h2 {
        width: 100%;
        text-align: center !important;
    }
    .project-header-image {
        flex-wrap: wrap !important;
        width: 100% !important;
        align-content: center !important;
    }
    .project-header-image img {
        width: 80% !important;
    }
    /* .project-header-image button {
        width: 90%;
        margin-left: 10%;
    } */
    .project-header-text {
        padding-left: 0 !important;
        width: 100% !important;
    }
    .project-tabs {
        display: none;
    }
    .project-tabs-collapse {
        display: flex;
    }
    .subpage-header-close {
        width: 5%;
    }
    .subpage-header-close span {
        display: none;
    }
    .subpage-header-buffer {
        width: 5%;
    }
    .modal-content {
        width: 70%;
    }
}

@media screen and (max-width: 759px) {
    .items-content div {
        height: auto;
    }
}

@media screen and (max-width: 650px) {
    .subpage-header-title {
        width: 80%;
    }
    .subpage-header-text span {
        display: none;
    }
    .subpage-header-side {
        width: 10%;
    }
}

@media screen and (max-width: 500px) {
    #about-picture {
        max-width: 80% !important;
    }
    .project-card {
        width: 80% !important;
    }
    .homepage-hr {
        width: 80% !important;
    }
    #highlights {
        width: 80%;
        padding-left: 10%;
    }
    .subpage-header {
        padding-top: 0;
    }
    .subpage-header h2 {
        margin-top: 0;
    }
    .subpage-header .subpage-header-side {
        display: none;
    }
    .subpage-header-hidden {
        display: flex;
        padding-top: 24px;
    }
    .subpage-header-hidden .subpage-header-side {
        display: block;
    }
}

@media screen and (max-width: 450px) {
    .modal-image {
        width: 300px !important;
    }
}

@media screen and (max-width: 360px) {
    #navbar-collapse span {
        display: none;
    }
}

@media screen and (min-width: 1400px) {
    #skywind {
        width: 50%;
    }
    .homepage-hr {
        width: 50%;
    }
    .project-header-image {
        width: 40%;
    }
}

@media screen and (min-width: 900px) {
    #navbar-image {
        height: 88px !important;
    }
    .hamburger-menu-main {
        display: none !important;
    }
    .hamburger-menu {
        display: none !important;
    }
}